pbix_unpacked/
pbix_current_check/
pbix_repack_normalize/
_pbix_publish_check/
Project Assets/
*.corrupted-backup.pbix
*.lnk
**/.pbi/cache.abf
**/.pbi/localSettings.json
**/.pbi/editorSettings.json
**/.pbi/unappliedChanges.json
*.tmp
*.log
~$*
